<!--discount-->
<section class="discount py-5">
    <div class="row">


    @for (item of discounts; track $index) {
      <div class="col-12 col-lg-6 mb-2">

        <div class="discount-details">
          <img [src]="item.image" alt="">

          <div [ngClass]="item.contentClass" class="d-flex flex-column">
            <p class="top-title m-0">{{item.topTitle}}</p>
            <p class="bold-title">{{item.boldTitle}}</p>
            <button type="button" class="discount-btn">{{item.buttonText}}</button>
          </div>

        </div>

      </div>
    }

  </div>

</section>


<!--benefits-->
 
<section class="benefits-section py-5">
    <div class="container">
   <div class="row"
     (mouseenter)="showCards()"
     (mouseleave)="hideCards()">

  @for (feature of featuresList; track $index) {
  <div class="col-12 col-lg-4">
    <div class="features animate__animated"
         [ngClass]="animationClass">

        <img [src]="feature.image" alt="">
        <p class="feature-title">{{feature.title}}</p>
        <p class="feature-content">{{feature.content}}</p>

    </div>
  </div>
  }

</div>
</div>
</section> 

<!--testimonial-->

 <section class="testimonial py-5">
    <div class="container">
    <div class="d-flex justify-content-center align-items-center">
        <div class="title">
            <p class="m-0">Testimonial</p>
        </div>
    </div>

    <div class="main-title text-center mt-3">
        <p>Customer Say About Our Services</p>
    </div>

    <div class="testimonial-wrapper">

    @for (item of testimonials; track $index) {

    <div class="d-flex justify-content-center align-items-center testimonial-card-container"
         [class.active]="$index === currentIndex">

        <div class="testimonial-card mt-2">
            <div class="row">

                <div class="col-lg-5">
                    <div class="room">
                        <img [src]="item.roomImage" alt="">
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="testimonial-content py-5">
                        <img [src]="item.quotes" alt="">

                        <div class="d-flex flex-row gap-3 mt-4">
                            <p>{{item.title}}</p>
                            <span>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                        </div>

                        <p class="text-muted">
                            {{item.description}}
                        </p>

                    </div>
                </div>

            </div>
        </div>

    </div>

    }

    </div>

</div>
</section> 


<section class="partners">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            
            <div class="col-12 col-lg-4">
                <p class="partner-title text-light">Our Partners</p>
            </div>
            <div class="col-12 col-lg-8">

            </div>
        </div>
    </div>
</section>


<section class="connect">
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="local-agent">
                <div class="vip-service">
                    <p>Explore VIP Service</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            
        </div>
        <div class="col-12 col-lg-4">
            
        </div>
    </div>
</section>