<section class="hero-section">

  <div class="hero-container">

    <img src="/home/heroimg.jpg" alt="hero">

    <div class="hero-content">
      <div class="hero-tagline-mask">
        <h1 class="hero-tagline">
          ⭐ Enjoy Your Beautiful Moment
        </h1>
      </div>
      <div class="hero-title-mask">
        <h1 class="hero-title">
          Unlock Your Next Adventure <br>
          Book Your Hotel Stay
        </h1>
      </div>
      <div class="hero-desc-mask">
        <p class="hero-desc">
          Discover Your Ideal Getaway Find the Perfect Hotel,
          Villa, or Cottage by Name, Category, or Location!
        </p>
      </div>
      <div class="choose-hotel-mask">

        <div class="choose-hotel d-flex justify-content-between">

          <div class="choose-contents">

            <div class="location">
              <h6>Select Location</h6>
              <h5>Dhaka</h5>
            </div>

            <div class="item">
              <h6>Select Category</h6>
              <h5>Resort</h5>
            </div>

            <div class="item">
              <h6>Select Rating</h6>
              <h5>4 Star</h5>
            </div>

          </div>

          <button class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
            Search
          </button>

        </div>

      </div>

    </div>

  </div>

</section>
<!--Categories-->
<section class="categories-section d-flex flex-column" (mouseenter)="showCategory()" (mouseleave)="hideCategory()">
<div class="container">
    <div class="categories-mask d-flex justify-content-center pt-3">
        <h1 class="category-title " [ngClass]="categoriesAnimation">
            Categories
        </h1>
    </div>
    <div class="categories-heading-mask d-flex justify-content-center">
        <h1 class="category-heading" [ngClass]="categoriesAnimation">
            Most Demanding Categories
        </h1>
    </div>
    <div class="categories-card-mask">
        <div class="categories-card d-flex justify-content-center flex-row gap-4 align-items-center p-5">
            @for(card of categoryCards; track card.id){

            <div class="types card d-flex flex-column align-items-center justify-content-center gap-2">

                <img [src]="card.icon" class="icon" alt="category">

                <p class="card-title">
                    {{ card.cardtitle }}
                </p>

                <p class="card-items">
                    {{ card.categoryItem }}
                </p>

            </div>

            }
        </div>
    </div>
    <!--pagination-->
     <section class="pagination d-flex justify-content-center">
        <div class="pagination-mask">
                    @if (totalPages > 1) {
        <div class="pagination-dots d-flex gap-3">
            @for (page of pages; track page) {
            <span class="dot" [class.active]="currentPage === page" (click)="changePage(page)">
            </span>
            }
        </div>
        }
        </div>

    </section>
</div>
</section>
<!--Offers Section -->
<section class="offers-section">
    <div class="container py-5">
        <div class="row" (mouseenter)="showCards()"
     (mouseleave)="hideCards()">
     <div class="card-mask" [ngClass]="offersAnimation">
         <div class="Dealscards d-flex flex-row gap-2 justify-content-center">
             @for (offers of offersCard; track $index) {
                    <div class="offersCard card col-12 col-lg-4">
            <div class="offers"
                [ngClass]="offersAnimation">
                <div class="offerTitle-mask">
                     <p class="OfferTitle">{{offers.OfferTitle}}</p>
                </div>
                <div class="button-mask">
                    <button class="discover-btn mt-3">Discover</button>
                </div>
               
            </div>
        </div>
        }
           </div>
     </div>
        </div>
    </div>
</section>  

<!--Featured section-->
<section class="featured-section py-5">
    <div class="container">
            <div class="FeaturedHotelsTitle">
                Featured Hotels
            </div>
            <div class="d-flex flex-row justify-content-between">
                <div class="FeaturedTitle">
                See all the Featured Hotels
            </div>
            <div class="FeatureDropdown">
                <div class="Featured-header d-flex flex-row gap-5 justify-content-between" (click)="toggleFeaturedBox()">
                    <div class="d-flex flex-row justify-content-between">
                         <p class="m-0">Featured</p>
                          </div>
                     <i class="fa-solid fa-chevron-down text-black"
                        [class.rotate]="isFeaturedBoxOpen"></i>
                   
                   
                </div>
                @if(isFeaturedBoxOpen){
                    <div class="FeaturedOptions">Featured</div>
                    <div class="FeaturedOptions">Recent</div>
                    <div class="FeaturedOptions">Popular</div>
                    <div class="FeaturedOptions">Recommended</div>          
                }
            </div>
            </div>
            
    </div>
</section>

